.header1{
  background-color:#4b9199;
  height:65px;
  }
  .p1{
  color:#555;
  }
  .ph1{
  border-bottom:1px solid #bcbcbc !important
  }
  .btn1{
  background-color:#7FFF00;
  }
   .header2{
  background-color:#000;
  margin-top:50px;
  height:35px;
  }