.form1{
    background-color: #8799b5;
    padding: 30px 50px;
   }
     .dateinput{
      /*width: 40%;*/
     }
     .dt{
      margin-top: 5px;
      text-align: right;
     }
     .box1{
          vertical-align: top;
     }
     .skill span{
      margin-right: 10px;
     }

     .form1 h3{
      color: #213a60;
     }
     .form1 .form-control{
      border: 2px solid #59e1ec !important;
     }