<div class="container-fluid m-t-75">
	<div class="container">
		
			<button class="btn btn-default">Add Resource</button>
			<div class="row">
				<div class="col-md-8 col-sm-8 col-lg-8 col-md-offset-2 login_css">
					<div class="form-group mrg_bt_15">
						<label for="Name">Name</label>
						<input type="text"  class="form-control form-control1 input_css">
					</div>
					<div class="form-group  mrg_bt_15">
						<label for="Experience">Experience</label>
						<input type="number" class="form-control form-control1 input_css">
					</div>
					<div class="form-group  mrg_bt_15">
						<label for="Skills">Skills</label>
						<input type="text" class="form-control form-control1 input_css">
					</div>
					<div class="form-group  mrg_bt_15">
						<label for="CTC">CTC</label>
						<input type="text" class="form-control form-control1 input_css">
					</div>
					<div class="form-group  mrg_bt_15">
						<label for="Location">Location</label>
						<input type="text" class="form-control form-control1 input_css">
					</div>
					<div class="form-group center-block">
						<label for="exampleInputFile" class="lcls">Upload CV</label>
						<input type="file" class="exampleInputFile">
   					</div>
					<button class="btn btn-primary center-block">Submit</button>
				</div>
		</div>
	</div>
</div>

