<div class="container-fluid m-t-75">

		<div class="col-md-8">
			<button type="button" class="btn btn-info">Add User</button>
		</div>
		<div class="col-md-6">
			<form class="form-horizontal" action="">
			    <div class="form-group">
			      <label class="control-label col-sm-2" for="uname">User Name:</label>
			      	<div class="col-sm-10">
			        	<input type="text" class="form-control" id="uname" placeholder="Enter Name Of The User You Want To Add" name="uname">
			      	</div>
			    </div>
			    <div class="form-group">
			      	<label class="control-label col-sm-2" for="role">Role Of Person:</label>
			      		<div class="col-sm-10">          
			        		<input type="text" class="form-control" id="role" placeholder="Enter Role" name="role">
			     		</div>
				</div>
				<div class="form-group">
			      	<label class="control-label col-sm-2" for="mnumber">Mobile Number:</label>
			     		 <div class="col-sm-10">          
			        		<input type="text" class="form-control" id="mnumber" placeholder="Enter Mobile Number " name="mnumber">
			      		</div>
				</div>
				<div class="form-group">
			        <label class="control-label col-sm-2">Permissions</label>
			        <div class="col-sm-10">
			            <div class="row">
			                <div class="col-sm-10">
			                    <label class="checkbox-inline">
			                        <input type="checkbox" id="Posting" value="">Job Posting
			                    </label>
								<label class="checkbox-inline">
			                        <input type="checkbox" id="Refferel" value="">Refferel
			                    </label>
							</div>
						</div>                   
			        </div>
			    </div>                 
			</form>                   
	    </div>
	    <div class="col-md-8">
		    <a type="button" class="btn btn-info col-md-offset-2" ui-sref="postjob"> Add</a>
		    <button type="button" class="btn btn-info col-md-offset-2"">Cancel</button>
	    </div>  
	</div> 
	




