<div class="container m-t-75">
        <div class="row listitems">
                <ul class="list-inline ">
                    <li><a href="#">Menu1</a></li>
                    <li><a href="#">Menu2</a></li>
                    <li><a href="#">Menu3</a></li>
                    <li><a href="#">Menu4</a></li>
                    <li><a href="#">Menu5</a></li>
                    <li><a href="#">Menu6</a></li>
                    <li><a href="#">Menu7</a></li>
                    <li><a href="#">Menu1</a></li>
                </ul> 
        </div> 
        <div class="row text-center">
            <div class="col-md-3">
                <div class="box">
                    <h3>Total Resources</h3>
                    <h4 class='numscroller' data-min='1' data-max='2017' data-delay='5' data-increment='10'>2017</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <h3>New Requests</h3>
                    <h4 class='numscroller' data-min='1' data-max='88' data-delay='5' data-increment='10'>2017</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="box">
                    <h3>Total Customers</h3>
                    <h4 class='numscroller' data-min='1' data-max='59' data-delay='5' data-increment='10'>2017</h4>
                </div>
            </div>
                    <div class="col-md-3">
                <div class="box">
                    <h3>Total Vendors</h3>
                    <h4 class='numscroller' data-min='1' data-max='62' data-delay='5' data-increment='10'>2017</h4>
                </div>
            </div>
        </div>
        <div class="container-fluid background">
          <div class="row">
              <div class="col-md-2 col-md-offset-1 col-xs-6 col-sm-4">
                  <button type="button" class="btn btn-default">Users</button>
              </div>
              <div class="col-md-2 col-xs-6 col-sm-4">
                  <button type="button" class="btn btn-default">Technologies</button>
              </div>
              <div class="col-md-2 col-xs-6 col-sm-4">
                  <button type="button" class="btn btn-default">Calender</button>
              </div>
              <div class="col-md-2 col-xs-6 col-sm-4">
                  <button type="button" class="btn btn-default">Categories</button>
              </div>
              <div class="col-md-2 col-xs-6 col-sm-4">
                  <button type="button" class="btn btn-default">Projects</button>
             </div>
              <div class="col-md-2 col-md-offset-1 col-xs-6 col-sm-4">
                <button type="button" class="btn btn-default">Inbox</button>
               </div>
               <div class="col-md-2 col-xs-6 col-sm-4">
                 <button type="button" class="btn btn-default">Notifications</button>
               </div>
               <div class="col-md-2 col-xs-6 col-sm-4">
                 <button type="button" class="btn btn-default">Finance</button>
               </div>
                <div class="col-md-2 col-xs-6 col-sm-4">
                   <button type="button" class="btn btn-default">Feedback</button>
                </div>
                 <div class="col-md-2 col-xs-6 col-sm-4">
                   <button type="button" class="btn btn-default">Reviews</button>
                </div>
        </div>
     </div>
        <div class="row">
            <div class="col-md-8">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.google.com/maps/d/embed?mid=1WouvrIFG1Z_aTy_zDf1HcMrI1sQ&hl=en_US" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-4">
                <div class="table">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Country</th>
                            <th>Visits</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>United states</td>
                            <td>2320</td>
                        </tr>
                        <tr>
                            <td>Brazil</td>
                            <td>1945</td>
                        </tr>
                        <tr>
                            <td>India</td>
                            <td>1779</td>
                        </tr>
                        <tr>
                            <td>Australia</td>
                            <td>1486</td>
                        </tr>
                        <tr>
                            <td>Turkey</td>
                            <td>1024</td>
                        </tr>
                        <tr>
                            <td>China</td>
                            <td>753</td>
                        </tr>
                        </tbody>
                    </table>
                 </div>
            </div>
        </div>
        <div class="row">
          <form>
            <div class="form-group">
            <label for="Review">  <h2>Reviews:</h2></label>
            <textarea class="form-control" rows="5" id="review"></textarea>
            </div>
        </form>
        </div>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>Notifications:</h2>
            <input class="form-control" id="myInput" type="text" placeholder="Notifications..">
             <ul class="list-group" id="myTable">
                <li class="list-group-item green"><i class="fa fa-bell-o" aria-hidden="true"></i>New user registred justnow</li>
                <li class="list-group-item green"><i class="fa fa-bell-o" aria-hidden="true"></i></i>New order recieved 15min ago</li>
                <li class="list-group-item yellow "><i class="fa fa-bullhorn" aria-hidden="true"></i>Alerting a user account balance 2hrs ago</li>
                <li class="list-group-item pink"><i class="fa fa-bolt" aria-hidden="true"></i>Messages are not sent to user</li>
                <li class="list-group-item pink"><i class="fa fa-bolt" aria-hidden="true"></i>Alerting administrator staff</li>
                <li class="list-group-item green"><i class="fa fa-bell-o" aria-hidden="true"></i></i>We server #12 failed to reclosed 2hrs ago</li>
            </ul>
            </div>
         </div>
    </div>
