<div class="container-fluid head1 m-t-75">
  <div class="container">
    <div class="row">
          <h3 class="pull-left">CUSTOMER PAGE</h3>
          <button type="button" class="btn btn-primary pull-right">Register</button>
    </div>
  </div>
</div>
<div class="container-fluid m-t-50">
  <div class="container">
    <div clas="row">
       <form class="form-inline text-center">
          <div class="input-group">
            <input type="email" class="form-control" size="50" placeholder="Search resources" required>
            <div class="input-group-btn">
            <button type="button" class="btn btn-danger">Search</button>
      </div>
    </div>
  </form> 
    </div>
  </div>
</div>
<div class="container-fluid m-t-20">
  <div class="container">
    <div class="row">
      <div class="panel-group">
    <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row marg">
              <div class="col-md-12">
                <div class="col-md-4 text-center">
                  <div class="ccc">
                    <p><a ui-sref="pagination">JAVA</a></p>(Exp:0-10yrs)
                  </div>
                </div>
                <div class="col-md-4 text-center">
                   <div class="ccc">
                      <p>TESTING</p>(Exp:0-12yrs)
                    </div>
                </div>
                <div class="col-md-4 text-center">
                   <div class="ccc">
                      <p>SQL</p>(Exp:0-10yrs)
                    </div>
                </div>
              </div>
            </div>
            <div class="row marg">
              <div class="col-md-12">
              <div class="col-md-4 text-center">
                <div class="ccc">
                 <p>HTML</p>(Exp:0-8yrs)
              </div>
              </div>
              <div class="col-md-4 text-center">
                 <div class="ccc">
                <p>CSS</p>(Exp:0-8yrs)
              </div>
              </div>
              <div class="col-md-4 text-center">
                 <div class="ccc">
                <p>Bootstrap</p>(Exp:0-8yrs)
              </div>
              </div>
            </div>
            </div>
            <div class="row marg">
              <div class="col-md-12">
              <div class="col-md-4 text-center">
                <div class="ccc">
                <p>Javascript</p>(Exp:0-10yrs)
              </div>
              </div>
              <div class="col-md-4 text-center">
                 <div class="ccc">
                <p>ANGULARJS</p>(Exp:0-5yrs)
              </div>
              </div>
              <div class="col-md-4 text-center">
                 <div class="ccc">
                <p>NodeJs</p>(Exp:0-3yrs)
              </div>
              </div>
            </div>
            </div>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
<div class="container-fluid m-t-50">
  <div class="container">
    <div class="row">
        <div class="col-md-4">
          <div class="move2">
            <p>5M</p>Following us
          </div>
        </div>
        <div class="col-md-4">
          <div class="move2">
            <p>40+</p>sources in our path
          </div>
        </div>
        <div class="col-md-4">
          <div class="move2">
            <p>700+</p>Companies tied with us
          </div>
        </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
                <!-- CLIENT SLIDER STARTS-->
                <div class="carousel slide clients-carousel" id="clients-slider">
                    <div class="carousel-inner">
                        <div class="item  active">
                            <div class="row">
                                <div class="col-md-3 col-xs-6">
                                    <a class="thumbnail" href="#">
                                        <img src="images/acc.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <a class="thumbnail" href="#">
                                        <img src="images/info.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <a class="thumbnail" href="#">
                                        <img src="images/tcs.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <a class="thumbnail" href="#">
                                        <img src="images/cts.jpg" alt="" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-3 col-xs-6">
                                    <a class="thumbnail" href="#">
                                        <img src="images/acc.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <a class="thumbnail" href="#">
                                        <img src="images/info.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <a class="thumbnail" href="#">
                                        <img src="images/tcs.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <a class="thumbnail" href="#">
                                        <img src="images/cts.jpg" alt="" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-3 col-xs-6">
                                    <a class="thumbnail" href="#">
                                        <img src="images/acc.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <a class="thumbnail" href="#">
                                        <img src="images/info.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <a class="thumbnail" href="#">
                                        <img src="images/tcs.jpg" alt="" />
                                    </a>
                                </div>
                                <div class="col-md-3 col-xs-6" >
                                    <a class="thumbnail" href="#">
                                        <img src="images/cts.jpg" alt="" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CLIENT SLIDER ENDS-->
            </div>
    </div>
  </div>
</div>
 <script>
        $(document).ready(function () {
            $("#clients-slider").carousel({
                interval: 3000 //TIME IN MILLI SECONDS
            });
        });
    </script>