<div class="col-md-10">
                 <h2>JAVA</h2>
            </div>
             <div class="col-md-1  col-md-offset-2">
                <div class="box2">
                    <h3>ALL</h3>
                    <h2 count-up value-to-count="all" speed="2"></h2>
                </div>
            </div>
             <div class="col-md-1">
                <div class="box2">
                    <h3>0-2</h3>
                    <h2 count-up value-to-count="twoyrs" speed="2"></h2>
                </div>
            </div>
             <div class="col-md-1">
                <div class="box2">
                    <h3>0-3</h3>
                    <h2 count-up value-to-count="threeyrs" speed="2"></h2>
                </div>
            </div>
            
             <div class="col-md-1">
                <div class="box2">
                    <h3>3-4</h3>
                    <h2 count-up value-to-count="fouryrs" speed="2"></h2>
                </div>
            </div>
             <div class="col-md-1">
                <div class="box2">
                    <h3>4-5</h3>
                   <h2 count-up value-to-count="fiveyrs" speed="2"></h2>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2 table-responsive" >
                <h2>Resource Details:</h2>
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Skills</th>
                        <th>Experience</th>
                        <th>Join Date</th>
                        <th>OnBoard</th>
                        <th>Off Board</th>
                        <th>view</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>krishna</td>
                        <td>Java</td>
                        <td>3.5</td>
                        <td>4-Oct-217</td>
                        <td>4-Nov-217</td>
                        <td>4-NOv-217</td>
                        <td>Details</td>
                    </tr>
                    <tr>
                        <td>praitha</td>
                        <td>Dotnet</td>
                        <td>2.5</td>
                        <td>6-Oct-217</td>
                        <td>4-Nov-217</td>
                        <td>4-NOv-217</td>
                        <td>Details</td>
                    </tr>
                    <tr>
                        <td>karthik</td>
                        <td>Java</td>
                        <td>3.5</td>
                        <td>4-Oct-217</td>
                        <td>4-Nov-217</td>
                        <td>4-NOv-217</td>
                        <td>Details</td>
                    </tr>
                    </tbody>
                </table>
            </div>
         </div>