<div class="container-fluid m-t-50">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    <div class="box2">
                        <div class="col-md-4"><i class="fa fa-user-circle" aria-hidden="true"></i></div>
                        <div class="col-md-8 box-text">
                            <h3>User</h3>
                        <h2 count-up value-to-count="user" speed="2"></h2>
                        </div>   
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box2">
                        <div class="col-md-4"><i class="fa fa-handshake-o" aria-hidden="true"></i></div>
                        <div class="col-md-8 box-text">
                            <h3>Client</h3>
                        <h2 count-up value-to-count="client" speed="2"></h2>
                        </div>   
                    </div>
                </div>
                 <div class="col-md-3">
                    <div class="box2">
                        <div class="col-md-4"><i class="fa fa-bar-chart" aria-hidden="true"></i></div>
                        <div class="col-md-8 box-text">
                            <h3>Resources</h3>
                        <h2 count-up value-to-count="resource" speed="2"></h2>
                        </div>   
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box2">
                        <div class="col-md-4"><i class="fa fa-eye" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-8 box-text">
                            <h3>Visits</h3>
                        <h2 count-up value-to-count="visits" speed="2"></h2>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t-25">
            <h2>Resources 300</h2>
            <div class = "panel panel-default m-t-25">
                   <div class = "panel-body">
                     <div class="col-md-3">
                    <div class="col-md-12">
                        <div class="col-md-4 text-center box3">
                            <i class="fa fa-html5" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-8 box-left">
                            <a ui-sref="vendor.dashboard.ui">UI</a>
                         <h2 count-up value-to-count="ui" speed="2"></h2>
                        </div>
                    </div>
                    </div>
                      <div class="col-md-3">
                    <div class="col-md-12">
                        <div class="col-md-4 text-center box31">
                                <i class="fa fa-code" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-8 box-left1">
                            <a ui-sref="vendor.dashboard.java">JAVA</a>
                         <h2 count-up value-to-count="java" speed="2"></h2>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-3">
                    <div class="col-md-12">
                        <div class="col-md-4 text-center box32">
                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-8 box-left2">
                            <a ui-sref="vendor.dashboard.idm">IDM</a>
                         <h2 count-up value-to-count="idm" speed="2"></h2>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-3">
                    <div class="col-md-12">
                        <div class="col-md-4 text-center box33">
                            <i class="fa fa-database" aria-hidden="true"></i>
                        </div>
                        <div class="col-md-8 box-left3">
                            <a ui-sref="vendor.dashboard.sale">SailPoint</a>
                         <h2 count-up value-to-count="salepoint" speed="2"></h2>
                        </div>
                    </div>
                    </div>

                    <!-- <div class="col-md-3">
                                    <div class="box3">
                    <a ui-sref="vendor.dashboard.java">JAVA</a>
                     <h2 count-up value-to-count="java" speed="2"></h2>
                                    </div>
                                </div> -->
               <!-- <div class="col-md-3">
                <div class="box3">
                    <a ui-sref="vendor.dashboard.idm">IDM</a>
                     <h2 count-up value-to-count="idm" speed="2"></h2>
                </div>
                           </div> -->
             <!-- <div class="col-md-3">
                <div class="box3">
                    <a ui-sref="vendor.dashboard.sale">Salepoint</a>
                     <h2 count-up value-to-count="salepoint" speed="2"></h2>
                </div>
                         </div> -->
                   </div>

            </div>

             <div ui-view></div>  
        </div>
    </div>
</div>            
            