<div class="container m-t-75">
            <form class="form-horizontal" role="form">
              <center>  <h2>Customer Registration Form</h2>  </center>
			    <div class="form-group">
      <label class="control-label  col-sm-3" for="date">Date:</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="date" name="date" autofocus>
    
      </div>
      
    </div>
				<u><h4 class="hed">Contact Information:</h4></u>
                <div class="form-group">
				
                    <label for="Company" class="col-sm-3 control-label">Company Name:</label>
                    <div class="col-sm-4">
                        <input type="text" id="Company" class="form-control" >
                       
                    </div>
                </div>
				<div class="form-group">
      <label class="control-label col-sm-3" for="No of Vaccancies">No of Vaccancies:</label>
      <div class="col-sm-4">
      <div class="checkbox">
      <label><input type="checkbox" name="remember"> Java</label>  
      <label><input type="checkbox" name="remember"> Dotnet</label>
      <label><input type="checkbox" name="remember"> Html</label>
      <label><input type="checkbox" name="remember"> Javascript</label>
      <label><input type="checkbox" name="remember"> Angularjs</label>
      <label><input type="checkbox" name="remember">C#</label>
      <label><input type="checkbox" name="remember"> IDM</label>
      <label><input type="checkbox" name="remember"> Others</label>
    </div>
      </div>
      </div>
				<div class="form-group">
                    <label for="Skills" class="col-sm-3 control-label">Skills Required:</label>
                    <div class="col-sm-4">
                        <input type="text" id="Skills"  class="form-control" >
                       
                    </div>
                </div>
				<div class="form-group">
                    <label for="Exprience" class="col-sm-3 control-label">Exprience Required:</label>
                    <div class="col-sm-4">
                        <input type="text" id="Exprience"  class="form-control" >
                       
                    </div>
                </div>
               
                <div class="form-group">
                    <label for="Location" class="col-sm-3 control-label">Location Of Current Vacancies:</label>
                    <div class="col-sm-4">
                        <input type="password" id="Location"  class="form-control">
                    </div>
                </div>
				<div class="form-group">
                    <label for="Salary" class="col-sm-3 control-label">Salary Details:</label>
                    <div class="col-sm-4">
                        <input type="text" id="Salary"  class="form-control" >
                       
                    </div>
                </div>
				<div class="form-group">
                    <label for="Phone" class="col-sm-3 control-label">Phone Number:</label>
                    <div class="col-sm-4">
                        <input type="text" id="Phone"  class="form-control" >
                       
                    </div>
                </div>
				<u><h4 class="hed">Is Your Company:</h4></u>
				<div class="form-group">
                    <label class="control-label col-sm-3">Insured?:</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="checkbox-inline">
                                    <input type="checkbox"  value="yes">Yes
                                </label>
								<label class="checkbox-inline">
                                    <input type="checkbox"  value="no">No
                                </label>
								
                            </div>
							
                           
                            </div>
                            
                                
                            
                        </div>
                    </div>
					<div class="form-group">
                    <label class="control-label col-sm-3">Licensed?:</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="checkbox-inline">
                                    <input type="checkbox"  value="yes">Yes
                                </label>
								<label class="checkbox-inline">
                                    <input type="checkbox"  value="no">No
                                </label>
								
                            </div>
                           
                            </div>
                            
                                
                            
                        </div>
                    </div>
					<div class="form-group">
                    <label class="control-label col-sm-3">Bonded?:</label>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="checkbox-inline">
                                    <input type="checkbox"  value="yes">Yes
                                </label>
								<label class="checkbox-inline">
                                    <input type="checkbox"  value="no">No
                                </label>
								
                            </div>
                           
                            </div>
                            
                                
                            
                        </div>
                    </div>
				<u><h4 class="hed">Payment Details:</h4></u>
				                <div class="form-group">
                    <label for="Card" class="col-sm-3 control-label">Card Number:</label>
                    <div class="col-sm-4">
                        <input type="text" id="Card"  class="form-control">
                    </div>
                </div>
				<div class="form-group">
                    <label for="IFSC" class="col-sm-3 control-label">IFSC Code:</label>
                    <div class="col-sm-4">
                        <input type="text" id="IFSC"  class="form-control">
                    </div>
                </div>
				<div class="form-group">
                    <label for="CVV" class="col-sm-3 control-label">CVV:</label>
                    <div class="col-sm-4">
                        <input type="text" id="CVV"  class="form-control">
                    </div>
                </div>
               
                
                
             
             
             
				
                <div class="form-group">
                    <div class="col-md-2 col-sm-offset-3">
                        <button type="submit" class="btn btn-info">Submit</button>
                    </div>
                </div>
            </form> <!-- /form -->
        </div> <!-- ./container -->
