<div class="container-fluid bg m-t-75">
   <h2 class="text-center h21">login page</h2>
    
    <div class="wrapper">
    <form action="#" class="form-signin ">
    <div class="form-group">
      <label class="l1"  for="email">Username:</label>
      <input type="uname" class="form-control i1" id="Uname" name="uname">
    </div>
    <div class="form-group">
      <label class="l1" for="pwd">Password:</label>
      <input type="password" class="form-control i1" id="pwd"  name="pwd">
    </div>
    <div class="checkbox">
      <label class="l1"><input type="checkbox" name="remember"> Remember me</label>
    </div>
   <button type="button" class="btn btn-success center bn center-block">Login</button>
  </form>
    </div>
</div>
     

