<div class="container-fluid selection-bg">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
			<h4> Resoures 200+ </h4>
				<canvas id="doughnut" class="chart chart-doughnut"
                         chart-data="data" chart-labels="labels" chart-colors="backgroundColor">
                    </canvas>
			</div>
			<div class="col-md-4">
			<h4> Venders 250+ </h4>
				<canvas id="doughnut" class="chart chart-doughnut"
                         chart-data="data" chart-labels="labels" chart-colors="backgroundColor">
                    </canvas>
			</div>
			<div class="col-md-4">
			<h4> Customers 500+ </h4>
				<canvas id="doughnut" class="chart chart-doughnut"
                         chart-data="data" chart-labels="labels" chart-colors="backgroundColor">
                    </canvas>
			</div>
		</div>
	</div>
</div>
<div class="container-fluid checklist-bg">
	<div class="container">
		<h3>Month Report</h3>
		<div class="row text-center">
			<div class="col-md-6">
				<h4>Resources</h4>
				<canvas id="bar" class="chart chart-bar img-thumbnail" chart-data="Bar" chart-labels="Barlabels" chart-options="Baroptions" chart-colors="colors" ></canvas>
			</div>
			<div class="col-md-6 ">
				<h4>Customers</h4>
				<div class="check-list">
					<ul>
						<li> TCS  <span><progress value="22" max="100">80%</progress></span></li>
						<li> HCL  <span><progress value="22" max="100">60%</progress></span></li>
						<li> WIRPO  <span><progress value="22" max="100">50%</progress></span></li>
						<li> ORACLE  <span><progress value="22" max="100">30%</progress></span></li>
					</ul>
				</div>
			</div>
		</div>
		</div>
	</div>